.buttonControllerContainer{
    display: flex;
    gap: 16px;
    padding: 8px;
    align-items: center;
    background-color: var(--gray-100);
    border-radius: 12px;
}

.spanController{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white);
    cursor: pointer;
}

@media(max-width: 415px){
    .buttonControllerContainer span{
        font-size: 0.75rem;
    }
}