.boxContent{
    width: 50%;
    padding: 40px 80px;
}

.boxContent h1{
    font-size: 1.25rem;
    font-weight: 400;
}

.boxContent form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 24px 0;
}

.boxContent fieldset{
    padding: 8px 0;
    border: none;
}

.boxContent label{
    font-size: 0.75rem;
}


.link{
    font-size: 0.75rem;
    font-weight: bold;
    display: block;
    padding: 8px;
    text-align: right;
    cursor: pointer;
    color: var(--purple-500);
 } 

 .input{
    padding: 5px 10px;
    width: 100%;
    border:solid 1px #ccc;
    border-radius: 10px;
    color: var(--gray-500);   
}

.input::placeholder {
    color: var(--gray-400);
    font-size: 0.75rem;
  }
  


.button {
    border-radius: 16px;
    border: none;
    padding: 12px;
    font-size: 0.8rem;
    background-color: var(--purple-300);
    color: var(--white);
}

.button:hover{
    background-color: var(--purple-200);
}

