@keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideRightAndFade {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  
.DropdownMenuContent{
    width: 100px;
    background-color: var(--gray-50);
    padding: 12px;
    border-radius: 6px;
    border: 1px solid var(--gray-100);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    margin-right: 24px;
    will-change: transform, opacity;
}

.DropdownMenuContent:hover{
        cursor: pointer;
        background-color: var(--gray-300);
    }  
    
.DropdownMenuContent[data-side='top'],
.DropdownMenuSubContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side='right'],
.DropdownMenuSubContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side='bottom'],
.DropdownMenuSubContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side='left'],
.DropdownMenuSubContent[data-side='left'] {
  animation-name: slideRightAndFade;
}


.DropdownMenuItem{
    all: unset;
    font-size: 16px;
    line-height: 1;
    color: var(--gray-500);
    border-radius: 3px;
    display: flex;
    gap: 12px;
    align-items: center;
    height: 20px;
    padding: 0 5px;
    position: relative;
}

.DropdownMenuSeparator {
    height: 1px;
    background-color: var(--gray-500);
    margin: 5px;
}
    

.DropdownMenuLabel{
    font-size: 12px;
    line-height: 25px;
    color: var(--gray-200);
}


.IconButton {
    all: unset;
    font-family: inherit;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* box-shadow: 0 2px 10px #ced4da; */
    
}
.IconButton:hover { color: var(--purple-300)};
.IconButton:focus { boxShadow: 0 0 0 2px black };
