.container {
    width: 60%;
    background-color: var(--gray-50);
    padding: 24px;
    border-radius: 12px;
}

.title{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

.container fieldset {
    padding: 8px;
    width: 100%;
    border: none;
}

.submit {
    margin: 12px;
    border-radius: 16px;
    border: none;
    font-size: 0.8rem;
    padding: 12px 24px;
    background-color: var(--purple-100);
    display: flex;
    border: 1px solid var(--purple-500);
    gap: 12px;
    align-items: center;
    color: var(--purple-500);
    cursor: pointer;
}

.input{
    padding: 5px 10px;
    width: 100%;
    font-size: 0.75rem;
    border:solid 1px #ccc;
    border-radius: 10px;
    color: var(--gray-500);   
}

.street {
    display: flex;
    width: 100%;
}

.input::placeholder {
    color: var(--gray-400);
    font-size: 0.75rem;
  } 


  .completeOrder fieldset{
    padding: 8px 0;
    border: none;
}

.completeOrder label{
    font-size: 0.75rem;
}

@media(max-width: 415px) {
    .container {
        width: 100%;
    }

    .street {
        flex-wrap: wrap;
    }

    .container label {
        font-size: 0.75rem;
    }
}