.container{
    display: flex;
    gap: 8px;
    width: 40%;
}

.button {  
    display: flex;
    align-items: center;
    justify-content: center;  
    padding: 12px;
    border-radius: 12px;
    border: 1px solid var(--purple-300);
    background: var(--purple-300);
    cursor: pointer;
}

.button:hover {
    background-color: var(--purple-200);
    
}

.input{
    padding: 5px 10px;
    width: 100%;
    font-size: 0.75rem;
    border:solid 1px #ccc;
    border-radius: 10px;
    color: var(--gray-500);   
}

.input::placeholder {
    color: var(--gray-400);
    font-size: 0.75rem;
  }
