
.coffeSelected {
    width: 40%;
    background-color: var(--gray-50);
    padding: 24px;
    border-radius: 12px;
}

.total{
    margin-top: 24px;   
}

.divider {
    background-color: var(--gray-200);
    width: 100%;
}

@media(max-width: 415px) {
    .coffeSelected {
        width: 100%;
        padding: 12px;
    }
}
