.container {
    height: 280px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid var(--gray-100);        
    padding: 12px 18px;
    margin: 12px;
}

.container:hover{
    border: 1px solid var(--gray-400);  
}

