.regular {
    font-size: 1rem;
}

.small {
    font-size: 0.75rem;
}

.headline {
    font-size: 1.25rem;
    font-weight: 400;
}

.error {
    font-size: 0.75rem;
    color: var(--red-500);
    font-weight: 300 bold;
    
}

@media(max-width: 415px) {
    .headline { font-size: 1rem;}
    .regular { font-size: 0.75rem;}
    .small { font-size: 0.5rem;}
    .error { font-size: 0.5rem;}
}