.container {
    width: 100vw;
    height: 90px;
    background-color: var(--white);
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 30px 18px -33px rgba(0,0,0,0.1);
}

.link{
    cursor: pointer;
}

.shopping {
    height: 40px;
    width: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-200);
    cursor: pointer;
}

.input{
    padding: 5px 10px;
    width: 100%;
    font-size: 0.75rem;
    border:solid 1px #ccc;
    border-radius: 10px;
    color: var(--gray-500);   
}

.input::placeholder {
    color: var(--gray-400);
    font-size: 0.75rem;
  }

  @media(max-width: 415px){
    .container {
        padding: 40px;
    }
  }