.container {
    width: 100%;
    display: flex;
    gap: 12px;
    alig-itemsd: center;
    justify-content: center;
    padding: 12px;
}

.link{
    padding: 8px;
    border-radius: 12px;
    border: 1px solid var(--purple-300);
    background-color: var(--purple-300);
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 12px;
    justify-content: center;
}

.link:hover{
    background-color: var(--purple-200);
}

@media(max-width: 415px){
    .container{
        flex-wrap: wrap;
    }

    .link{
        width: 144px;
    }
}